<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{{> header}}
<!--<h1>{{pageTitle}}</h1>-->
<p>{{screamIt WelcomeMessage}}</p>
</body>

{{> footer}}

<!--<footer>
    <p>Copyright {{currentYear}}</p>
</footer>-->
</html>