<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>We'll b right back</h1>
<p>This site is currently being updated.</p>
</body>

{{> footer}}

<!--<footer>
    <p>Copyright {{currentYear}}</p>
</footer>-->
</html>