<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{{> header}}

<p>projects page text would be go here </p>

</body>

{{> footer}}

<!--<footer>
    <p>Copyright {{currentYear}}</p>
</footer>-->
</html>